version: '3.8'
services:
  node:
    build: ./node-app
    container_name: wildwest_node
    environment:
      - PORT=3000
    expose:
      - "3000"
  nginx:
    build: ./nginx
    container_name: wildwest_nginx
    ports:
      - "7823:80"
    depends_on:
      - node
  npm:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx_proxy_manager
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "81:81"
    volumes:
      - ./nginx/data:/data
      - ./nginx/letsencrypt:/etc/letsencrypt
