<h1>Forgot Password</h1>

<form method="POST" action="/forgot-password">
  <input type="email" name="email" placeholder="Your email" required>
  <button type="submit">Send reset link</button>
</form>

{{#if message}}
  <p>{{message}}</p>
{{/if}}
{{#if error}}
  <p style="color:red">{{error}}</p>
{{/if}}