<h1>Login</h1>

{{#if error}}
  <p style="color:(#87CEEB)">{{error}}</p>
{{/if}}

<form method="POST" action="/login">
  <label>Username:</label>
  <input type="text" name="username" required><br><br>

  <label>Password:</label>
  <input type="password" name="password" required><br><br>

  <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="/register">Register here</a>.</p>
<p><a href="/forgot-password">Forgot Password?</a></p>
