<h1>New Comment</h1>
<form method="POST" action="/comment">
  {{#if error}}
    <p style="color:red">{{error}}</p>
  {{/if}}
  <textarea name="text" rows="4" placeholder="Write your comment..."></textarea>
  <button type="submit">Post Comment</button>
</form>

