<h1>Reset Password</h1>

<form method="POST" action="/reset-password">
  <input type="hidden" name="token" value="{{token}}">
  <input type="password" name="password" placeholder="New password" required>
  <button type="submit">Reset Password</button>
</form>

{{#if error}}
  <p style="color:(#87CEEB)(0, 213, 255)">{{error}}</p>
{{/if}}