<nav>
  <a href="/">Home</a> |
  <a href="/comments">Comments</a> |

  {{#if user}}
    <a href="/profile">Profile</a> |
    <a href="/chat">Chat</a> |
    <span style="color: {{user.nameColor}}">
      Logged in as {{user.displayName}}
    </span> |
    <form method="POST" action="/logout" style="display:inline">
      <button>Logout</button>
    </form>
  {{else}}
    <a href="/register">Register</a> |
    <a href="/login">Login</a>
  {{/if}}
</nav>
<hr>
